{% extends "index.html" %}
{% block content %}
<p><a href="/">Home</a></p>

<form action='/new' method="POST">
    <input name="date" type="date" value="{{ today }}">
    <input class="type" name="type" type="text" placeholder="Type">
    <input class="name" type="text" name="name" placeholder="Name">
    <input type="number" name="price" placeholder="Price">
    <input type="submit" value="Add">
</form>
<script src="/static/typeahead.bundle.min.js"></script>
<script src="/static/new.js"></script>
{% endblock %}